:root {
  --color-text: #141414;
  --color-help: #666666;
  --color-header-text: 255, 255, 255;
  --color-highlight: #673ab9;
  --color-section-bg: #f2f2f2;
  --color-section-border: #e7e7e7;
  --color-code-bg: #0f1725;
  --color-code-text: #dddddd;
  --color-input-checked: #ffffff;
  --color-input-border: #cccccc;
  --color-footer: #cccccc;

  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  --font-size-default: 1.4rem;
  --font-size-help: 1.8rem;
  --font-size-title: 2.4rem;
  --font-size-section-title: 2.2rem;
  --font-size-column-title: 1.8rem;
  --font-size-small: 1.1rem;
}

* {
  color: var(--color-text);
  margin: 0; padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: var(--font-size-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 65px 0 0 0;
}
@media screen and (max-width: 470px) {
  body {
    margin: 0;
  }
}

.header {
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  background: var(--color-highlight);
  padding: 10px 0 10px 56px;
  margin: 0 0 15px 0;
}
@media screen and (max-width: 470px) {
  .header {
    position: relative;
  }
}

.header br {
  display: none;
}
@media screen and (max-width: 470px) {
  .header br {
    display: block;
  }
}

.title {
  color: rgb(var(--color-header-text));
  font-size: var(--font-size-title);
}

.logo {
  position: absolute;
  width: 38px;
  top: 4px;
  left: 15px;
}

.title a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px dotted rgba(var(--color-header-text), 0.3);
}

.title a:hover {
  border-color: rgba(var(--color-header-text), 1);
}

.help {
  margin: 0 15px 20px 15px;
  font-weight: bold;
  color: var(--color-help);
  font-size: var(--font-size-help);
}

.github {
  display: inline-block;
  color: rgb(var(--color-header-text));
  background: var(--color-highlight);
  margin: 8px 0 0 0;
  padding: 6px 12px 6px 12px;
  border-radius: 4px;
  text-decoration: none;
}

.section {
  background: var(--color-section-bg);
  margin: 0 0 20px 0;
  padding: 15px 20px 5px 20px;
  border-top: 1px solid var(--color-section-border);
  border-bottom: 1px solid var(--color-section-border);
}

.section-title {
  position: relative;
  font-size: var(--font-size-section-title);
  margin: 0 0 14px 0;
  padding: 0 28px 0 0;
}

.version {
  font-size: var(--font-size-small);
  margin: 0 0 0 5px;
}

.check-button {
  cursor: pointer;
  appearance: none;
  border: 0;
  font-weight: bold;
  font-size: var(--font-size-small);
  display: inline-block;
  color: rgb(var(--color-header-text));
  background: var(--color-highlight);
  margin: 0 4px 6px 0;
  padding: 4px 10px 4px 10px;
  border-radius: 4px;
}

.columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 850px) {
  .columns {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 470px) {
  .columns {
    grid-template-columns: repeat(1, 1fr);
  }
}

.column {
  margin: 0 0 10px 0;
}

.column-title {
  font-size: var(--font-size-column-title);
  margin: 0 0 14px 0;
}

.input-label {
  cursor: pointer; font-family: Courier, monospace;
  display: inline-block;
  margin: 0 10px 5px 0;
}

.paragraph {
  margin: 0 0 10px 0;
}

input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  margin: -2px 5px 2px 0;
  border: 2px solid var(--color-input-border);
  border-radius: 4px;
  width: 18px;
  height: 18px;
  float: left;
  position: relative;
}

input[type="checkbox"]:checked {
  border-color: var(--color-highlight);
  background: var(--color-highlight);
}

input[type="checkbox"]:checked::before,
input[type="checkbox"]:checked::after {
  position: absolute;
  content: ' ';
  height: 2px;
  background: var(--color-input-checked);
}

input[type="checkbox"]:checked::before {
  top: 7px;
  left: 2px;
  width: 5px;
  transform: rotate(45deg);
}

input[type="checkbox"]:checked::after {
  top: 6px;
  left: 4px;
  width: 8px;
  transform: rotate(-45deg);
}

input[type="radio"] {
  appearance: none;
  cursor: pointer;
  margin: -2px 5px 0 0;
  border: 2px solid var(--color-input-border);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  float: left;
  position: relative;
}

input[type="radio"]:checked {
  border-color: var(--color-highlight);
  background: var(--color-highlight);
}

input[type="radio"]:checked::after {
  position: absolute;
  content: ' ';
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  background: var(--color-input-checked);
  border-radius: 50%;
}

.loader {
  position: absolute;
  box-sizing: border-box;
  top: 6px;
  right: 0;
  width: 20px;
  height: 20px;
  border: 3px solid var(--color-highlight);
  border-radius: 50%;
  animation: loader 800ms linear infinite;
}

.loader::after {
  z-index: 2;
  position: absolute;
  display: block;
  content: ' ';
  top: -4px;
  left: 4px;
  width: 6px;
  height: 6px;
  background: var(--color-section-bg);
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.code-wrapper {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  overflow-y: auto;
  border: 2px solid var(--color-code-bg);
  margin: 0 0 12px 0;
  padding: 6px;
  background: var(--color-code-bg);
}

.code, .code * {
  font-family: Courier, monospace;
  line-height: 18px;
  color: var(--color-code-text);
}

.action {
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: #ffffff;
  background: var(--color-highlight);
  padding: 6px 12px 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  border: 0;
  margin: 0 12px 8px 0;
}
.action:disabled {
  cursor: default;
  opacity: 0.5;
}

.copied::after {
  position: absolute;
  top: 0;
  left: 5px;
  right: 5px;
  padding: 6px 0 6px 0;
  content: 'Copied!';
  background: inherit;
  z-index: 2;
}

@media screen and (max-width: 470px) {
  .size {
    display: block;
  }
}

.footer {
  text-align: center;
  color: var(--color-footer);
  margin: 10px 20px 20px 20px;
}
